<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{ partial "head" . }}
  <body class="post-template">

    {{ partial "header" . }}

    <div class="container">
      <main class="content" role="main">
        <article class="post">
          <header>
            <div class="post-meta">
              <strong>
                <time datetime="{{ .Date.Format "02 January 2006" }}">{{ .Date.Format "02 January 2006" }}
              </strong>
            </time></div>
            <h1 class="post-title">{{ .Title }}</h1>
          </header>

          <section class="post-content">
            {{ .Content }}
          </section>

          <section class="post-tags">
            <div class="post-meta tags">
              <p class="post-tags u-pull-left"><em>{{ .Site.Params.tagsStr }}: </em></p>
              {{ range .Params.tags }}
              <a href="{{ $.Site.BaseURL }}tags/{{ . }}">{{ . }} </a>
              {{ end }}
            </div>
          </section>

          {{ if eq .Site.Params.comments "disqus" }}
          {{ template "_internal/disqus.html" . }}
          {{ end }}

          {{ if eq .Site.Params.comments "googleplus" }}
          {{ partial "googleplus-comments" . }}
          {{ end }}

          {{ partial "share" . }}
        </article>
      </main>
    </div>
    {{ partial "footer" . }}
    {{ partial "js" . }}

  </body>
</html>
